.carrousel {
    display: flex;
    overflow-x: scroll;
    max-width: 80vw;
    padding: 1rem 0;
}

.carrousel-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--carrousel-option-background-color);
   /*  background: none; */
    opacity: var(--carrousel-option-background-opacity);
    /* opacity: 1; */
    min-width: var(--carrousel-option-width);
    height: var(--carrousel-option-height);
    padding: 2rem;
    cursor: pointer;
    transition: 200ms ease all;
    margin: 0 .5rem;
    border-radius: 4px;
}

.carrousel-option:hover {
    background: var(--carrousel-option-background-color-hover);
    opacity: .9;
}

.carrousel-option__img {
    width: 225px;
}

