.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
}

.container-title {
    text-align: center;
}


.container__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}