.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    overflow: hidden;
    color: var(--font-color);
}


.container__background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.container__background-img--dark {
    filter: brightness(.4);
}