.form--login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__field {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.form__label {
    margin-bottom: 4px;
}

.form__input {
    letter-spacing: 6px;
    padding: 4px 8px;
    font-size: 20px;
    transition: 200ms ease all;
    outline: none;
    border-radius: 2px;
    border: none;
}

.form__input--uppercase {
    text-transform: uppercase;
}