.link {
    text-decoration: none;
}

.link--return {
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--return-button-background-color);
    color: var(--return-button-font-color);
    padding: 1rem;  
    border-radius: 4px;
    min-width: 150px;
    font-weight: bold;

    transition: 200ms ease background;
}

.link--return:hover {
    background: var(--button-secondary-color-hover);
}

.link--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    transition: 200ms ease all;
    border-radius: 4px;
    margin-right: 1rem;
    background: var(--button-primary-color);
}

.link--icon:hover {
    background: var(--button-primary-color-hover);
}