.link {
    text-decoration: none;
}

.link--return {
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--return-button-background-color);
    color: var(--return-button-font-color);
    padding: 1rem;  
    border-radius: 4px;
    width: 150px;
    font-weight: bold;
}