.stations-container {
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    gap: 1rem;
}

.station__list {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: calc(100% - 40rem);
}

.station {
    color: var(--font-color);
    background: var(--station-background-color);
    padding: 1.25rem;
    margin: .5rem 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms ease background;
    opacity: 1;
    z-index: 1;
}

.station:hover {
    background: var(--font-color);
    color: #396B9A;
    /* opacity: 1; */
}

.station__name {
    font-size: 20px;
}

.station__description {
    font-size: 16px;
    font-weight: normal;
}

.stations-container__right {
    height: 100%;
}

.station-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--station-background-color);
    margin: .5rem;
    border-radius: 4px;
    padding: 1rem;
    height: 100%;
}

.station-destination__img {
    width: 80%;
}

.station-destination__name {
    font-size: 28px;
}

.station-destination__detail {
    font-size: 15px;
    font-weight: normal;
}

.station-destination__attractions {
    background: var(--station-background-color);
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 4px;
}

.station-destination__attraction {
    padding: .5rem 0;
    border-bottom: 2px solid var(--font-color);
}

.station-destination__attraction-name {
    font-size: 17px;
    font-weight: bold;
    
}