.stations-container {
    display: grid;
    grid-template-columns: 4fr 3fr 4fr;
    gap: 1rem;
    height: 90%;
}

.station-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    padding-right: .5rem;
}

.station {
    color: var(--font-color);
    background: var(--station-background-color);
    padding: 1.25rem;
    margin: .25rem 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms ease background;
    opacity: 1;
    z-index: 1;
}

.station:hover {
    background: var(--font-color);
    color: #396B9A; 
}

.station--locked {
    background: none;
}

.station--locked:hover {
    background: none;
    color: var(--font-color);
}

.station__name {
    font-size: 20px;
}

.station__description {
    font-size: 16px;
    font-weight: normal;
    margin-top: .5rem;
}

.stations-container__right {
    height: 100%;
}

.station-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--station-background-color);
    margin: .5rem;
    border-radius: 4px;
    padding: 1rem;
    height: 100%;
}

.station-destination__img {
    width: 80%;
    margin: 1rem 0;
}

.station-destination__name {
    font-size: 28px;
}

.station-destination__subtitle {
    font-size: 20px;
    margin-bottom: .5rem;
}

.station-destination__detail {
    font-size: 15px;
    font-weight: normal;
}

.station-destination__attractions {
    background: var(--station-background-color);
    margin-top: .5rem;
    padding: 1rem;
    border-radius: 4px;
    height: 100%;
    overflow-y: scroll;
    padding-right: .5rem;
}

.station-destination__attraction {
    padding: .5rem 0;
    border-top: 1px solid rgba(96, 161, 222, .5);
    /* border-bottom: 1px solid rgba(96, 161, 222, .5); */
    /* box-shadow: 0px 8px 16px #396B9A; */
}

.station-destination__attraction-name {
    font-size: 17px;
    font-weight: bold;
}

.station-details {
    background: var(--station-background-color);
    padding: 1.5rem;
    margin: 1rem 0;
    border-radius: 4px;
}

.station-services {
    display: grid;
    grid-template-columns: 1fr;
    background: var(--station-background-color);
    padding: 1.5rem;
    border-radius: 4px;
    overflow-y: scroll;
    height: 100%;
}

.station__detail {
    margin-bottom: .5rem;
}

.station__detail--description {
    font-size: 19px;
    font-weight: normal;
}

.station__detail--type {
    font-weight: normal;
}

.station-service {
    border-top: 1px solid rgba(96, 161, 222, .5);
    padding: .75rem 0;
}