@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import "container.css";
@import "window.css";
@import "profile.css";
@import "station.css";
@import "grid.css";
@import "link.css";
@import "form.css";

:root {

    --window-background-color: #396B9A;
    --window-opacity: .9;

    --grid-option-background-color: #1d5284;
    --grid-option-background-color-hover: #13497b;
    --grid-option-background-opacity: .9;
    --grid-option-width: 25vw;
    --grid-option-height: 300px;

    --station-background-color: #1d5284;
    --station-background-color-hover: #13497b;
   
    --font-color: #d3eaff;

    --return-button-background-color: #d3eaff;
    --return-button-font-color: #1d5284;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', Arial;
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}